
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
<title>{% block head_title %}SpyFruit{% endblock %}</title>


<!DOCTYPE html>
<html>
<head>
    <title>SpyFruit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/accounts/login.css' %}"> 


</head>
<body> 

    <div class="mensagem">


    </div>

    <div class="caule">
        <img src="/assets/img/uvabase.png" alt="">
    </div>

    <div class="imgCirculo">
        <h1>teste</h1>
    </div>

    <div class="imgCirculo2">
        <h1>teste</h1>
    </div>

  

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="circle"></div>
                <header class="myHed text-center">
                    <!--LOGO-->
                    <!--<img src="/assets/img/logo.png" style="width: 70%" alt="">-->
                    
                    <!--Texto abaixo da logo-->
                </header>
                
                <form class="login main-form text-center" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="inputs_center">
                        <i class="fas fa-user" id="user-icon"></i>
                        <i class="fas fa-lock" id="user-pass"></i>
                      {{ form.as_p }}
                    </div>
                    
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btnEntrar" type="submit">{% trans "Sign In" %}</button>
                    <br><br>
                    <a id="recuperarSenha" href="{% url 'account_reset_password' %}" class="linkRecuperar"><span class="check_1">Recuperar Senha</span></a>
                </form>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>